.indicator {
    background-color: #3F4B4D;
    border-radius: 2rem;
    height: 0.7rem;
    margin: auto;
    width: 6px;
    animation: fade-in-down 2s ease infinite;
}

@keyframes fade-in-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
  